
/** contenedor principal de cuponsmart **/
/*.main-panel {
    padding-left: 20px;
    padding-top: 80px;
}*/

/** fix header alargado cuponsmart **/
/*.main-panel > .header {
    width: 98.98%;
}*/

/** fix container alargado cuponsmart **/
/*div.main-panel div.container-cs{
    width: 99%;
}*/

/** fix footer alargado cuponsmart **/
/*footer.content-footer {
    width: 85.8%;
}*/

/** pull the filter search on data tables to the right */
.dataTables_filter {
    float: right;
}