a,
a:focus,
a:hover {
	text-decoration: none;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #656d78;
	background: #edf0f5;
}

.alert-danger a,
.alert-info a,
.alert-success a,
.alert-warning a,
.table>thead,
div.required .control-label:before {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
legend {
	text-transform: uppercase;
}

a {
	color: #aab2bd;
}

a:focus,
a:hover {
	color: #434a54;
}

p {
	line-height: 26px;
}

.form-control {
	color: #656d78;
	background: #fff;
	border-top: 1px solid #ccd1d9;
	border-left: 1px solid #ccd1d9;
	border-right: 1px solid #ccd1d9;
	border-bottom: 1px solid #aab2bd;
	border-radius: 3px;
	box-shadow: none;
}

.form-control:focus {
	border-color: #656d78;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	color: #aab2bd;
}

.form-control::-moz-placeholder {
	color: #aab2bd;
}

.form-control:-ms-input-placeholder {
	color: #aab2bd;
}

.well {
	background: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 #ccd1d9;
}

legend {
	color: #656d78;
	border: none;
}

.has-error .form-control,
.has-error .form-control:focus {
	border: 1px solid #aab2bd;
	box-shadow: none;
}

#back-top i,
.list-group,
.panel-default,
.ref-search-link a {
	box-shadow: 0 1px 2px 0 #ccd1d9;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.text-danger {
	color: #e9573f;
}

div.required .control-label:before {
	content: '* ';
	color: red;
}

.table,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border-color: #d6dde5;
}

.table>tbody+tbody {
	border-top: none;
}

.panel-group .panel {
	border-radius: 3px;
}

.panel-heading {
	padding: 9pt 15px;
}

.panel-default {
	background: #fff;
	border: none;
}

.panel-default>.panel-heading {
	color: #656d78;
	background: #fff;
	border-color: #e7eaf0;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #fff;
}

.panel-footer {
	background: #e7eaf0;
	border-color: #e7eaf0;
}

.filter .panel-footer,
.filter .panel-heading {
	font-weight: 700;
	background: #fff;
	border-color: #e4e7ec;
}

.list-group .list-group-item {
	border-top: 1px solid #e4e7ec;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.list-group .list-group-item:first-child {
	border-top: none;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.list-group .list-group-item:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.list-group a.list-group-item {
	color: #656d78;
	text-transform: lowercase;
}

.list-group a.list-group-item:focus,
.list-group a.list-group-item:hover {
	color: #434a54;
	background: #f5f7fa;
}

.list-group a.list-group-item.active,
.list-group a.list-group-item.active:focus,
.list-group a.list-group-item.active:hover {
	color: #434a54;
	background-color: #f5f7fa;
	border-color: #f5f7fa;
	border-top: 1px solid #d6dadf;
	border-bottom: 1px solid #d6dadf;
}

.fa-stack {
	font-size: 6px;
}

.fa-star,
.fa-star-o {
	color: #ffce54;
	font-size: 14px;
}

.fa-star+.fa-star-o {
	color: #ffce54;
}

.ref-search-link {
	margin: 0;
	padding: 0;
}

.ref-search-link a {
	display: block;
	margin-bottom: 6px;
	padding: 9pt 15px;
	text-align: center;
	color: #656d78;
	background: #fff;
	border-radius: 3px;
}

.ref-search-link a:hover {
	background: #f8fafd;
	color: #434a54;
}

.slideshow img {
	width: 100%;
}

.not-found {
	margin: 90pt 0;
}

#back-top {
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 9;
}

#back-top i {
	color: #2b2f35;
	font-size: 18px;
	background: #fff;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	border-radius: 100%;
	-webkit-transition: .3s;
	transition: .3s;
}

.alert,
.btn,
.tags-sidebar li {
	border-radius: 3px;
}

#back-top i:hover {
	color: #37bc9b;
	background: #f8fafd;
}

@media (max-width:767px) {
	#back-top i {
		display: none
	}
;
}

.alert {
	margin: 30px 0;
	padding: 10px 1pc;
}

.alert:hover {
	color: #fff;
	opacity: 1;
}

.alert-dismissable .close {
	color: #000;
}

.alert-info {
	background-color: #7cd1ef;
	border-color: #4fc1e9;
}

.alert-info .close,
.alert-info a {
	color: #31708f;
}

.alert-warning {
	background-color: #ffdd87;
	border-color: #ffce54;
}

.alert-warning .close,
.alert-warning a {
	color: #8a6d3b;
}

.alert-danger {
	background-color: #f2838f;
	border-color: #ed5565;
}

.alert-danger .close,
.alert-danger a {
	color: #a94442;
}

.alert-success {
	background-color: #b9df90;
	border-color: #a0d468;
}

.alert-success .close,
.alert-success a {
	color: #3c763d;
}

.close {
	color: #434a54;
	font-size: 17px;
	font-weight: 400;
	text-shadow: none;
	opacity: 1;
}

.btn-primary,
.shopping-cart>.btn {
	font-weight: 700;
	text-shadow: none;
	text-transform: uppercase;
}

.close:hover {
	color: #fff;
	opacity: 1;
}

.blog-post {
	margin-bottom: 30px;
}

.blog-post h3 a {
	color: #37bc9b;
}

.blog-post h3 a:hover {
	color: #434a54;
}

.blog-post img {
	padding: 0 30px 30px 0;
}

.blog-post .post-separator {
	display: block;
	height: 1px;
	width: 100%;
	background: #ccd1d9;
}

.recent-post {
	display: block;
}

.recent-post img {
	width: 90px;
	height: 90px;
	padding: 0 15px 15px 0;
}

.tags-sidebar li {
	background: #e6e9ed;
	margin: 3px 1px;
	padding: 2px 9pt;
}

.breadcrumb {
	font-size: 13px;
	background: 0 0;
	margin: 30px 0;
	padding: 0;
}

.breadcrumb a {
	color: #aab2bd;
	font-size: 13px;
}

.breadcrumb a:hover {
	color: #434a54;
}

.breadcrumb>li+li:before {
	color: #dfe3ea;
}

.btn {
	background: 0 0;
	-webkit-transition: .3s;
	transition: .3s;
}

.btn-default {
	color: #656d78;
	background: #fff;
	border-top: 1px solid #ccd1d9;
	border-left: 1px solid #ccd1d9;
	border-right: 1px solid #ccd1d9;
	border-bottom: 1px solid #aab2bd;
}

.btn-default.active,
.btn-default.disabled,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default[disabled] {
	color: #434a54;
	background: #f5f7fa;
	border: 1px solid #aab2bd;
}

.btn-primary {
	background: #37bc9b;
	border: 1px solid #37bc9b;
	color: #f5f7fa;
	text-align: center;
	padding: 9pt 30px;
}

.btn-primary.active,
.btn-primary.disabled,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled] {
	color: #434a54;
	border: 1px solid #656d78;
	background: 0 0;
	text-shadow: none;
	box-shadow: none;
}

.btn-danger {
	color: #aab2bd;
	border: 1px solid #656d78;
	background: 0 0;
	text-shadow: none;
	box-shadow: none;
}

.btn-danger.active,
.btn-danger.disabled,
.btn-danger:active,
.btn-danger:hover,
.btn-danger[disabled] {
	color: #fff;
	background: #37bc9b;
	border: 1px solid #37bc9b;
	text-shadow: none;
	box-shadow: none;
}

.shopping-cart .navbar-toggle i {
	font-size: 21px;
}

.shopping-cart>.btn {
	color: #656d78;
	font-size: 14px;
	text-align: right;
	line-height: 24px;
	background: 0 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.shopping-cart>.btn:active,
.shopping-cart>.btn:hover {
	outline: 0;
}

.shopping-cart .cart-icon {
	display: inline-block;
	position: relative;
}

.shopping-cart .cart-icon strong {
	display: block;
	position: relative;
	color: #656d78;
	border: 2px solid #656d78;
	padding: 2px 9px;
	margin-left: 15px;
	z-index: 9;
}

.shopping-cart .cart-icon .cart-icon-handle {
	position: absolute;
	top: -6px;
	left: 50%;
	height: 8px;
	width: 15px;
	border: 2px solid #656d78;
	border-bottom: 0;
	border-top-left-radius: 99px;
	border-top-right-radius: 99px;
}

.shopping-cart .dropdown-menu {
	min-width: 75pt;
	font-size: 13px;
	margin: 9px 0 0;
	padding: 20px 6px 0;
	z-index: 1001;
}

.shopping-cart .dropdown-menu .dropdown-triangle:before {
	left: 70%;
}

.shopping-cart .dropdown-menu .btn {
	padding: 7.5px 10px;
}

.shopping-cart .dropdown-menu .btn-title {
	font-size: 13px;
}

.shopping-cart .dropdown-menu table {
	margin-bottom: 10px;
}

.shopping-cart .dropdown-menu table a:hover {
	color: #37bc9b;
}

.shopping-cart .dropdown-menu li>div {
	min-width: 418px;
	padding: 0 10px;
}

.shopping-cart .dropdown-menu li p {
	margin: 20px 0;
}

.shopping-cart .img-thumbnail {
	padding: 4px;
	background: #656d78;
	border: none;
}

.shopping-cart .table>tbody>tr>td,
.shopping-cart .table>tbody>tr>th {
	border-color: #4f5763;
	vertical-align: middle;
}

@media (max-width:767px) {
	.cart {
		margin-bottom: 20px;
		padding-right: 17px
	}
;
}

@media (max-width:478px) {
	.cart .dropdown-menu {
		width: 100%
	}

	.cart .dropdown-menu li>div {
		min-width: 100%
	}
;
}

.dropdown-menu {
	min-width: 200px;
	background: #434a54;
	border: none;
	border-radius: 3px;
	box-shadow: 0 6px 9pt rgba(0, 0, 0, .175);
}

.dropdown-menu .dropdown-triangle:before {
	content: '';
	position: absolute;
	top: -8px;
	left: 10%;
	height: 0;
	width: 0;
	border-bottom: 8px solid #434a54;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.dropdown-menu>li>a {
	padding: 9px 20px;
}

.dropdown-menu>li>a:hover {
	color: #f5f7fa;
	background: #656d78;
}

footer {
    background: #434a54;
    color: #656d78;
    margin: 50px 0 0;
    min-height: 520px;
    padding: 63px 0 0;
}

footer .fa-cogs {
	position: absolute;
	font-size: 27em;
	color: #3f464f;
}

footer h3 {
	color: #37bc9b;
	font-size: 20px;
	font-weight: 500;
	margin-top: 33px;
	margin-bottom: 0;
	line-height: 34px;
}

footer a {
	color: #7d8794;
	text-transform: uppercase;
}

footer .links a,
footer .social a {
	font-size: 9pt;
	font-weight: 700;
}

footer .links a {
	float: left;
	margin: 0 10px 0 0;
}

footer .links a:hover {
	color: #f5f7fa;
}

footer .social {
	padding-top: 41px;
}

footer .social li {
	margin: 0 0 4px;
}

footer .social a {
	display: block;
	padding: 14px 0;
	background: #3d434c;
	border: 1px solid #3d434c;
	border-radius: 3px;
	text-align: center;
}

footer .social a:hover {
	color: #f5f7fa;
	background: #434a54;
}

footer .social i {
	font-size: 14px;
	margin: 0 0 0 6px;
}

footer .social .facebook:hover {
	background: #3b5998;
	border-color: #3b5998;
}

footer .social .twitter:hover {
	background: #55acee;
	border-color: #55acee;
}

footer .social .youtube:hover {
	background: #e52d27;
	border-color: #e52d27;
}

footer .social .skype:hover {
	background: #00aff0;
	border-color: #00aff0;
}

footer .social .google-plus:hover {
	background: #dd4b39;
	border-color: #dd4b39;
}

footer .social .instagram:hover {
	background: #3f729b;
	border-color: #3f729b;
}

footer .powered {
    color: #7d8794;
    font-size: .65em;
    letter-spacing: 2px;
    padding: 60px 0 0;
    text-align: left;
    text-transform: uppercase;
}

footer .powered a {
	color: #7d8794;
}

footer .powered a:hover {
	color: #f5f7fa;
}

@media only screen and (min-width:768px) and (max-width:991px) {
	footer .fa-cogs {
		font-size: 22em
	}
;
}

header {
	position: relative;
	background: #fff;
	padding: 30px 0 10px;
	border-bottom: 1px solid #dee1e5;
}

.fixed-header {
	position: fixed;
	top: -66px;
	width: 100%;
	box-shadow: 0 6px 6px -6px #ccd1d9;
	-webkit-animation: slide .5s forwards;
	animation: slide .5s forwards;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	z-index: 999;
}

.fixed-header header {
	padding: 8px 0 0;
}

.fixed-header .navbar {
	margin-bottom: 6px;
}

@-webkit-keyframes slide {
	100% {
		top: 0
	}
;
}

@keyframes slide {
	100% {
		top: 0
	}
;
}

@media (max-width:767px) {
	footer .fa-cogs {
		font-size: 22em
	}

	.fixed-header {
		position: relative
	}
;
}

#logo {
	margin-bottom: 10px;
}

.top-nav {
	color: #aab2bd;
	font-size: .86em;
	background: #434a54;
	height: 33px;
	line-height: 33px;
}

.top-nav a:active,
.top-nav a:focus,
.top-nav a:hover {
	color: #f5f7fa;
}

.top-nav .dropdown-menu {
	margin-top: 9px;
	text-align: center;
}

.top-nav .dropdown-menu a {
	color: #aab2bd;
	font-size: .86em;
}

.top-nav .currency {
	margin-right: 15px;
}

.top-nav .links-inline .dropdown-triangle:before {
	left: 75%;
}

.top-nav .search i {
	color: #37bc9b;
	font-size: 14px;
}

.top-nav .search .input-group {
	padding: 4px 9px 3px;
}

.top-nav .search .btn,
.top-nav .search input {
	color: #aab2bd;
	background: #656d78;
	border: 1px solid #656d78;
}

.top-nav .search .btn i,
.top-nav .search input i {
	color: #aab2bd;
}

.top-nav .search .btn i:hover,
.top-nav .search input i:hover {
	color: #ccd1d9;
}

.navbar {
	border-radius: 0;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

#menu {
	width: 100%;
}

#menu .nav>li>a {
	color: #656d78;
	font-weight: 700;
	background: 0 0;
	margin: 0;
	padding-left: 0;
	padding-right: 18px;
	text-transform: uppercase;
	text-shadow: none;
}

#menu .nav>li.open>a,
#menu .nav>li>a:hover {
	background: 0 0;
}

#menu ul li:active span:after,
#menu ul li:focus span:after,
#menu ul li:hover span:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border-bottom: 8px solid #434a54;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

#menu .dropdown-menu {
	padding: 9pt 0 10px;
	border-radius: 3px;
}

#menu .dropdown-inner {
	display: table;
}

#menu .dropdown-inner ul {
	display: table-cell;
}

#menu .dropdown-inner a {
	clear: both;
	display: block;
	min-width: 200px;
	color: #ccd1d9;
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	padding: 17px;
}

#menu .dropdown-inner a:hover {
	color: #f5f7fa;
	background: #656d78;
}

#menu .dropdown-inner .see-all a {
	color: #37bc9b;
	padding-bottom: 8px;
	border-top: 1px solid #4b535e;
}

#menu .dropdown-inner .see-all a:focus,
#menu .dropdown-inner .see-all a:hover {
	color: #ccd1d9;
	background: 0 0;
}

#menu .nav-tabs>li>a,
#menu .nav>li>a:focus,
#menu .nav>li>a:hover {
	border: none;
}

@media (min-width:768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block
	}
;
}

@media (max-width:767px) {
	#menu .dropdown-inner,
	#menu div.dropdown-inner>ul.list-unstyled {
		display: block
	}

	.navbar-collapse {
		padding-left: 15px;
		padding-right: 15px
	}

	#menu {
		border-radius: 3px;
		background: #e6e9ed
	}

	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background: #ccd1d9;
		border-radius: 0
	}

	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: #aab2bd
	}

	#menu .dropdown-inner a {
		width: 100%;
		color: #fff
	}

	#menu .dropdown-inner .see-all a {
		color: #fff;
		margin-top: 0;
		padding-bottom: 17px;
		border: none;
		border-radius: 0
	}

	#menu .dropdown-inner .see-all a:focus,
	#menu .dropdown-inner .see-all a:hover {
		color: #fff;
		background: #aab2bd
	}

	#menu #category {
		float: left;
		margin-left: 15px;
		color: #656d78;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 46px
	}

	#menu .btn-navbar {
		font-stretch: expanded;
		color: #f5f7fa;
		margin-right: 15px;
		padding: 4px 18px;
		float: right;
		background: #656d78;
		border-radius: 3px
	}

	#menu .btn-navbar.disabled,
	#menu .btn-navbar:active,
	#menu .btn-navbar:focus,
	#menu .btn-navbar:hover,
	#menu .btn-navbar[disabled] {
		color: #656d78;
		background: #f5f7fa
	}

	#menu .nav>li>a {
		padding-left: 18px;
		padding-right: 18px
	}

	#menu ul li:active span,
	#menu ul li:focus span,
	#menu ul li:hover span {
		display: none
	}
;
}

.pagination>li>a,
.pagination>li>span {
	color: #656d78;
	background: #fff;
	border-top: 1px solid #ccd1d9;
	border-left: 1px solid #ccd1d9;
	border-right: 1px solid #ccd1d9;
	border-bottom: 1px solid #aab2bd;
	padding: 8px 14px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	color: #656d78;
	background: #e6e9ed;
	border-top: 1px solid #ccd1d9;
	border-left: 1px solid #ccd1d9;
	border-right: 1px solid #ccd1d9;
	border-bottom: 1px solid #aab2bd;
}

.results {
	padding-top: 27px;
}

.product-item a {
	display: block;
	color: #434a54;
	font-weight: 700;
}

.product-item a:hover {
	color: #37bc9b;
}

.product-item .price {
	color: #aab2bd;
	font-weight: 700;
}

.product-item .price .price-new {
	color: #37bc9b;
}

.product-grid .product-item {
	position: relative;
	width: 100%;
	border: none;
	padding-bottom: 4pc;
	margin-bottom: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 #ccd1d9;
	overflow: hidden;
	z-index: 1;
}

.product-grid .product-item img {
	width: 100%;
}

.product-grid .product-item .item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: 0 0;
	border-radius: 3px;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.product-grid .product-item:hover .item-overlay {
	background: rgba(170, 178, 189, .42);
}

.product-grid .product-item .clickable a {
	display: block;
	padding: 100%;
	z-index: 9;
}

.product-grid .product-item .caption {
	position: absolute;
	bottom: -87pt;
	display: block;
	min-width: 100%;
	min-height: 180px;
	padding: 6px 15px;
	margin: 0;
	background: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 1;
}

.product-grid .product-item .caption .cart {
	display: block;
	padding: 27px 0 0;
	clear: both;
}

.product-grid .product-item .caption .btn-primary {
	width: 100%;
	color: #fff;
	background: #37bc9b;
	border: 1px solid #37bc9b;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

.product-grid .product-item .caption .btn-primary:hover {
	color: #434a54;
	background: 0 0;
	border: 1px solid #656d78;
}

.product-grid .product-item .caption .name a,
.product-grid .product-item .caption .price {
	text-align: center;
}

.product-grid .product-item .caption .name a {
	line-height: 1pc;
	margin: 9px 0 0;
}

.product-grid .product-item:hover .caption {
	-webkit-transform: translatey(-83px);
	transform: translatey(-83px);
}

.product-grid .product-item .compare,
.product-grid .product-item .wishlist {
	color: #fff;
	display: none;
	margin-bottom: 3px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	border: none;
	-webkit-transition: .3s;
	transition: .3s;
}

.product-grid .product-item .compare a,
.product-grid .product-item .wishlist a {
	display: block;
	color: #fff;
	font-size: 14px;
}

.product-grid .product-item .wishlist {
	position: absolute;
	top: 15px;
	left: 15px;
	background: #37bc9b;
}

.product-grid .product-item .wishlist:hover {
	background: #33b091;
}

.product-grid .product-item .compare {
	position: absolute;
	top: 3pc;
	left: 15px;
	background: #434a54;
}

.product-grid .product-item .compare:hover {
	background: #393f47;
}

.product-grid .product-item:hover .compare,
.product-grid .product-item:hover .wishlist {
	display: block;
}

.product-grid .product-item .sale-tag {
	width: 50px;
	height: 75pt;
	background: #37bc9b;
	position: absolute;
	top: -45px;
	right: -10px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.product-grid .product-item .sale-tag span {
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	left: 2px;
	position: absolute;
	top: 3pc;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media (min-width:992px) {
	.product-grid .product-item {
		width: 213px
	}
;
}

@media (min-width:1200px) {
	.product-grid .product-item {
		width: 263px
	}
;
}

.product-list .product-item {
	margin-bottom: 20px;
}

.product-list .product-item .image {
	float: left;
	padding-right: 30px;
	margin-bottom: 20px;
}

.product-list .product-item .image img {
	max-width: 263px;
}

.product-list .product-item .name a {
	text-transform: uppercase;
}

.product-list .product-item .description {
	margin: 10px 0 20px;
}

.product-list .product-item .description p {
	line-height: 21px;
}

.product-list .product-item .rating {
	padding: 0 0 11px;
}

.product-list .product-item .price {
	margin-bottom: 10px;
}

.product-list .product-item .clickable a,
.product-list .product-item .sale-tag {
	display: none;
}

.product-list .product-item .btn-primary {
	margin: 0 0 20px;
}

.product-sidebar {
	width: 100%;
	overflow: auto;
}

.product-sidebar .product-item {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 #ccd1d9;
	float: left;
}

.product-sidebar .product-item .image {
	display: block;
	width: 90px;
	height: 90px;
	float: left;
	margin: 0 10px 0 0;
	padding-bottom: 0;
}

.product-sidebar .product-item .image img,
.thumbnails img {
	width: 100%;
}

.product-sidebar .product-item .name {
	display: block;
	margin: 9px 0 2px;
	line-height: 1pc;
	float: none;
}

.product-sidebar .product-item .price {
	display: block;
	color: #aab2bd;
	font-weight: 700;
	float: none;
}

.showcase {
	margin-bottom: 30px;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.showcase:hover {
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: .75;
}

.nav-tabs {
	margin-bottom: 0;
	border-bottom: none;
	overflow: hidden;
}

.nav-tabs li a {
	color: #656d78;
	font-weight: 700;
	background: #f5f7fa;
	border-top: 3px solid #f5f7fa;
	border-radius: 3px 3px 0 0;
	margin-right: 3px;
	padding: 9px 21px 9pt;
}

.nav-tabs li a:focus,
.nav-tabs li a:hover {
	background: #e6e9ed;
	border-top: 3px solid #e6e9ed;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #656d78;
	border-top: 3px solid #37bc9b;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a,
.nav>li>a:focus,
.nav>li>a:hover {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.tab-content {
	background: #fff;
	padding: 10px;
	border-radius: 0 3px 3px;
	box-shadow: 0 1px 2px 0 #ccd1d9;
}

@media (max-width:767px) {
	.tab-content {
		margin-bottom: 20px;
	}
}

.img-thumbnail {
	padding: 0;
	border: none;
	border-radius: 3px;
}

.thumbnail {
	border: none;
	background: 0 0;
	margin: 0 0 20px;
	padding: 0;
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0 0 0 -20px;
}

.thumbnails li {
	margin-left: 20px;
}

.thumbnails .image-additional {
	float: left;
	margin-left: 30.5px;
}

.image-additional {
	max-width: 74px;
}

.image-additional a {
	margin-bottom: 30px;
	display: block;
}

.date button.btn.btn-default {
    height: 34px;
}

.page-title {
    margin-bottom: 22px;
}